#header{
    

    
    
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
    margin-top: 0px;
    margin: 0px;
    text-align: center;
    padding-top: 10px;

}

.content{
    display: grid;
    grid-template-areas:
      'weather temperature'
       
}

#weather{
    grid-area: weather;

}

#temperature{
    grid-area: temperature;
}
    


* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}